<div class="d-flex">
  <div class= 'd-flex'>
    <%= link_to_with_icon 'arrow-left.svg','', request.referer, class: 'pt-5 justify-content-end' %>
  </div>
  <h4 class="pt-5  mr-auto"> Account Details </h4>
</div>
<% if @vendor.stripe_connect_id.present? %>
  <% unless params['action'] == 'new' || params['action'] == 'create' %>
    <div class="pb-4">
      <table class="table sortable">
        <thead>
          <tr>
            <th>Stripe Account Id</th>
            <th>Email</th>
            <th>Details Submitted</th>
            <th>Payouts Enabled</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @vendor.stripe_connect_id || '-' %></td>
            <td><%= @account_info[:email] %></td>
            <td><%= @account_info[:details_submitted] ? 'Yes' : 'No' %></td>
            <td><%= @account_info[:payouts_enabled] ? 'Yes' : 'No' %></td>
            <td><%= link_to @vendor.stripe_connect_id ? 'Manage' : 'Connect', stripe_connect_url_admin_vendor_path(@vendor.id.present? ? @vendor.id : '') , class: 'btn btn-primary' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <h6 class='font-weight-bold'><%= Spree.t(:external_accounts) %></h6>
    <% if @account_info[:external_accounts].present? %>
      <table class="table sortable">
        <thead>
          <tr>
            <th>Account Holder Name</th>
            <th>Account Number</th>
            <th>Bank Name</th>
            <th>Routing Number</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <% @account_info[:external_accounts][:data].each do |account| %>
            <tr>
              <td><%= account[:account_holder_name] %></td>
              <td><%= "xxxx#{account[:last4]}" %></td>
              <td><%= account[:bank_name] %></td>
              <td><%= account[:routing_number] %></td>
              <td><%= account[:country] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info no-objects-found">
        <%= Spree.t(:accounts_not_found) %>
      </div>
    <% end %>
  <% end %>
<% end %>